/*@import './map.css'*/

html{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-y:hidden 
}
html, body{
  height: 95%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  margin:0;
}
::-webkit-scrollbar {width: 10px;
    height: 10px;
  background-color:rgba(218, 218, 218, 0.54);  }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #bbbbbb }

.top-bar{
	    height: 60px;
    background-color: #5a5a5a;
}
.top-bar .logo{
        display: inline-block;
    line-height: 60px;
    float: left;
    margin: 0 20px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    color: #e0e0e0;
    width: 60px;
    text-align: center;
}
.search-container{
	    display: inline-block;
    margin: 11px 10px;
    float: left;
    width: calc(90% - 160px);
    border: 0;
    background: #f9f9f9;
    border-radius: 4px;
    height: 36px;
}
.top-bar #input-wrapper{
	    display: inline-block;
    width: 100%;
}
#input-wrapper input{
	    height: 36px;
    background: transparent;
    border: 0;
        font-size: 20px;
    padding: 0 10px;
    width: calc(100% - 20px);
}
.top-bar button{
       background-color: #3690c0;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin: 11px 5px;
    height: 38px;
    width: 100px;
    font-size: 15px;
    border-radius: 3px;
        transition-duration: 0.3s;

}
.top-bar button:hover{
       background-color: #045a8d
}
.tab-image-container{
    float: left;
    height: 100%;
    background: gray;
    line-height: 32px;
}
.tab-image-container img{
	    height: 16px;
    margin: 0px 7px;
}
.word-tab{
	float: left;
    border: 2px solid transparent;
    margin: 1px 5px;
    height: 30px;
    border-radius: 3px;
    background: #e6e6e6;

}
.tab-text-container{
	display: inline-block;
    height: 100%;
}
.tab-text{
	    font-size: 15px;
    line-height: 32px;
    padding: 0 7px;
}



#Specification_view{
	    position: absolute;
    top: 60px;
    width: calc(82% - 35px);
    margin: 10px;
    border: 1px dashed #848484;
    height: calc(32% - 60px);
    overflow: auto;
}
#condition_node_list{
    //width:100%;
    height:100%;
}
#semantic-view{
       position: absolute;
    border: 1px dashed #848484;
    width: calc(23% - 10px);
    height: calc(39%);
    top: calc(32% + 10px);
    margin: 10px;
}

#map-view{
	position: absolute;
    width: calc(59% - 35px);
    height: calc(39%);
    top: calc(32% + 10px);
    margin: 10px;
    left: 23%;
}

#timeline-container{
	position: absolute;
    width: calc(82% - 35px);
    height: calc(28% - 33px);
    bottom: 0;
    margin: 10px;
    border: 1px dashed #848484;
}
#topic-container{
    /*position: absolute;*/
    width: 100%;
    height: calc(100% - 50px);
}

#list-contain{
	position: absolute;
	width: 18%;
	right: 0;
	height: calc(100% - 84px);
	margin: 10px 10px;
	border: 1px dashed #848484;
}

.panel{
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
}


.up-contain{
	height: calc(60% - 20px);
    margin: 10px;
}
.left-panel{
	float: left;
	width: 50%;
	height: 100%;
}
.right-panel{
	float: right;
	/*width: 48%;*/
	width: 100%;
	height: 100%;
}

.down-contain{
	height: 38%;
	margin: 10px 10px;
}
.up-panel{
	width: calc(100% - 5px);
}
.down-panel{
	width: 100%;
	height: calc(100% - 65px);
	margin-top:5px;
}






.default-word{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-word span{
	font-weight: 500;
    color: #5c6b77;
    font-size: 32px;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.mid-contain{
	height: 30%;
}
.dist-box{
	width: 300px;
	margin: 25px 30px;
	height: calc(100% - 50px);
	display: inline-block;
	float: left;
}
.dist-del{
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
}
.dist-del img{
	width: inherit;
	height: inherit;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 40px;
	cursor: pointer;
}