/*@import './map.css'*/

html{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
  height: 95%;
  font-size: 2px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  margin:0;
}

.contain {
	position: relative;
	height: 99%;
	top: 0;
}
.sub-contain{
	margin:20px 10px;
	min-width: 580px;
}
.up-contain{
	height: 60%;
}
.down-contain{
	height: 38%;
	min-height: 270px;
}

.panel{
	background-color: #ffffff;
	height: 100%;
	border: 1px solid #e8e8e8;
}
.left-panel{
	float: left;
	width: 50%;
}
.right-panel{
	float: right;
	width: 48%;
	height: 100%;
}



.default-word{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-word span{
	font-weight: 500;
    color: #5c6b77;
    font-size: 32px;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}


.mid-contain{
	height: 30%;
}
.dist-box{
	width: 300px;
	margin: 25px 30px;
	height: calc(100% - 50px);
	display: inline-block;
	float: left;
}
.dist-del{
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
}
.dist-del img{
	width: inherit;
	height: inherit;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 40px;
	cursor: pointer;
}