body {
	font-family: Avenir, sans-serif;
	font-size: 0.75rem;
	margin: 0;
}

#headline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	text-align: center;
	color: #555;
}

#pink {
	border-bottom: 2px solid deeppink;
	padding-bottom: 0.25rem;
}

/* Links */

a {
  color: #555;
  transition: color 200ms;
}

a:link {
	text-decoration: none;
}
a:visited {
	color: #555;
}
a:hover {
	color: deeppink;
}
a:active {
	color: #555;	
}


/* SVG elements */
/* ============ */

svg {
  border: 1px solid #ccc;
}

/* Axes */

.tick text {
  font-family: Avenir, sans-serif;
  fill: #555;
  font-size: 0.75rem;
}

.tick line, .lines {
  stroke: #555;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

path.domain {
  display: none;
}

/* Chart */

circle {
	fill: white;
	stroke: deeppink;
	stroke-width: 4px;
}

.label {
  fill: #777;
}