#hexagon-container{
	position: relative;
}
#hexagon-container svg{
	position: absolute;
	left: 136px;
}
.node-nomal{
	/*fill: #4DB4CC;*/
	opacity: 1;
	r : 10;
	cursor: grab;
}
.node-ring{
	stroke: red;
    stroke-width: 2px;
}
.node-item{
	fill: #5a5a5a;
	opacity: 0.1;
	r : 5;
}
.link-nomal{
	stroke: gray;
	opacity: 1;
	stroke-width: 4;
}
.title-nomal{
	font-size: 15px
}
.node-mid{
	opacity: 0.5;
	r : 4;
}
.nodes .selected{
	fill: red;
	opacity: 1
}

.link-mid{
	stroke: gray;
	opacity: 1;
	width: 4px;
}
.title-mid{
	font-size: 15px;
}
.link-item{
	stroke: #5a5a5a;
	opacity: 0.1;
	stroke-width:0.5;
}
.select-group{
	opacity: 1;
	fill: red;
}