#hexagon-container{
	position: relative;
}
#hexagon-container svg{
	position: absolute;
	left: 136px;
}
.node-nomal{
	/*fill: #4DB4CC;*/
	opacity: 1;
	r : 10;
	cursor: grab;
}
.node-ring{
	stroke: red;
    stroke-width: 2px;
}
.node-item{
    r: 3;
    stroke: rgb(46, 117, 182);
    stroke-width: 2;
    fill: none;
}
.link-nomal{
	stroke: rgb(46, 117, 182);
	opacity: 0.8;
	stroke-width: 2;
  stroke-dasharray: 4;
}
.title-nomal{
	font-size: 15px
}
.node-mid{
	opacity: 0.5;
	r : 4;
}
.nodes .selected{
	fill: red;
	opacity: 1
}

.link-mid{
	stroke: gray;
	opacity: 1;
	width: 4px;
}
.title-mid{
	font-size: 15px;
}
.link-item{
	stroke: rgb(46, 117, 182);
  fill: none;
  opacity: 0.5;
  stroke-dasharray: 2;

}
.select-group{
	opacity: 1;
	fill: red;
}



.sample-area{
	  position: absolute;
    right: 10px;
    z-index: 2;
    height: 20px;
    width: 100px;
    top: 40px;
   /*border: 2px solid rgba(0,0,0,0.2);*/
   /*cursor: pointer*/
}
.sample-area span{
    display: inline-block;
    font-size: 13px;
    line-height: 27px;
    float: left;
    margin-right: 8px;
}





.switch-btn {
float: right;

  cursor: pointer;    width: 30px;
    height: 15px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 15px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; 
}
.switch-btn:before {
    content: '';    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4); 
}
.switch-btn:checked {
    border-color: #595959;
    box-shadow: #595959 0 0 0 16px inset;
    background-color: #595959; 
}
.switch-btn:checked:before {
    left: 15px; 
}
.switch-btn.switch-btn-animbg {
    transition: background-color ease .4s; 
}
.switch-btn.switch-btn-animbg:before {
    transition: left .3s; 
}
.switch-btn.switch-btn-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #595959;
    transition: border-color .4s, background-color ease .4s; 
}
.switch-btn.switch-btn-animbg:checked:before {
    transition: left .3s; 
}

.node-legend-item{
  position: absolute;
}

.node-legend-rect{
  width: 45px;
    height: 45px;
    display: inline-block;
    background-size: 45px;
    float: left;
    margin: 0px 10px 0px 10px;
}