#resultlist{
    overflow-y: auto;
    height: calc(100% - 50px);
    overflow-x: hidden;
    position: relative;
}


.list-item{
	    height: 35px;
	    margin: 5px;
	    line-height: 40px;
	    transition: visibility;
	    /*overflow:  hidden; 清除浮动*/
	    transition: visibility 0s, opacity 2s,top 0.5s linear;
	    position: absolute;
	    visibility: visible;
	    opacity: 1;
        width: calc(100% - 10px);
}



.list-item>div{
	float: left ;
}
.check-contain{
    width: 20px;
    margin: 2px;
    position: relative;
    height: 35px;
}
.check-contain input[type=checkbox]{
    visibility: hidden;
}
.check-contain label{
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 0;
    background: #eee;
    border: 1px solid #ddd;
}
.check-contain label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.check-contain label:hover::after {
    opacity: 0.5;
}
.check-contain input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.filtered label{
    cursor: auto;
    opacity: 0.4;
}


.id-word{
	line-height: 35px;
    float: left;
    font-size: 12px;
    padding: 0 6px;
    color: #595959;
}
.percent-rect{
    min-width: 40px;
    max-width: calc(100% - 10px);
    background-color: #595959;
    height: 19px;
    margin: 8px;
    width: calc(100% - 220px);
}
.percent-word{
	    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
    color: #595959;
}

.filtered .id-word{
	color:#e8e8e8;
}
.filtered .percent-rect{
	background-color: #e8e8e8
}
.filtered .percent-word{
	color:#e8e8e8;
}
.hide{
	visibility: hidden;
	opacity: 0;
}
.btn-container{
	    padding: 5px;
    height: 38px;
    top: 35px;
    position: absolute;
    width: calc(100% - 10px);
    /* flex-direction: column; */
    justify-content: space-between;
}
#filter-btn{
    background-color: #595959;
    color: #fff;
    cursor: pointer;
    border: 0px solid transparent;
    width: 44px;
    height: 23px;
    font-size: 12px;
    margin: 9px 0;
    border-radius: 3px;
}

.per-num{
    font-size: 14px;
    line-height: 38px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.per-num div{
    display: inline-block;
    margin: 0 2px;
}
.per-num .display-num{
    color: #e8e8e8
}