.leaflet-overlay-pane svg path{
    pointer-events: auto !important;
}

#map_container svg{
	cursor: auto !important;
}


rect.selection {
    stroke: black;
    stroke-dasharray: 4px;
    fill            : transparent;
    stroke-width: 1px;
}
