.right_content{
    float:right;
    width:50px;
    height:100%;
     background: transparent;
}

.right_content .add_condition_node{
    transition-duration: 0.3s;
    height:100%;
    width:50px;
    text-align: center;line-height: 370px;
    cursor: pointer;
    background:rgb(46,117,182);
    float:right;
    display: block;
    color:white
}
.right_content .add_condition_node:hover{
       background-color: #045a8d
}
.legend{
    background: rgba(255, 255, 255, 0.5);
    width:150px;
    display: block;
    height:60px;
    color: #2b2b2b;
    border: 1px dashed #e8e8e8;
}
.legend .text{
    font-size: 14px;
    float:left;
    display:inline-block;
    height: 20px;
    color: #2b2b2b;
    margin-top: 10px;
}
.legend .content{
    font-size: 13px;
    display:inline-block;
    line-height: 19px;
}
 .legend .content .max{
    float:left;
    width:20px;
    height:10px;
    display:inline-block;
    color: #2b2b2b;
    margin-right: 3px;
}
 .legend .content .color_bar{
    width: 17px;
    height: 17px;
    display:inline-block;
}
.legend .content .min{
    float:right;
    width:20px;
    heifht:10px;
    display:inline-block;
}
.condition_node{       height: calc(100% - 2px);
    width: 630px;
    position: absolute;
    border-radius: 0;
    z-index: 0;
    border: 1px solid rgb(46,117,182);
}
.condition_node .title{
    padding: 7px;
    text-align: center;
    background: rgb(46, 117, 182);
    color: #fdfdfd;
    font-size: 18px;

}

.condition_node .title .constraints_order{
        position: absolute;
    padding: 0;
    line-height: 22px;
    width: 22px;
    height: 22px;    
    background-size: 22px;
    color: #2e75b6;
}

.condition_node .spatial_constraints_title{
	line-height: 33px;
    text-align: center;
    font-size: 13px;
    background: #e8e8e8;
}

.condition_node .max_node_num{
	width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
}
.condition_node .max_node_num .text{
    float: left;
    line-height: 33px;
    font-size: 12px;
}
.condition_node .max_node_num .decrease{
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: 5px 0 5px 5px;
    text-align: center;
    color: white;
}
.condition_node .max_node_num .increase{
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin: 5px 0 5px 5px;
    text-align: center;
    color: white;
}


.condition_node  .node_subtitle{
	    padding: 0px 10px;
    text-align: center;
    font-size: 13px;
    float: left;
    background: #e8e8e8;
    line-height: 38px;
    color: #1d1d1d;
}
.condition_node  .node_subtitle .real_node_subtitle{
	//padding: 5px 10px;
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    float:left;
}

.condition_node  .node_subtitle .max_node_num{
    text-align: center;
    //color: #3c3c3c;
    background: white;
    display:inline-block;
    float:right;
}
.condition_node  .node_subtitle .max_node_num .text{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    float:left;
    margin-right: 2px;
}
.condition_node  .node_subtitle .max_node_num .decrease{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    margin-left: 5px;
    margin-right: 2px;
    background: rgb(171,171,171);
    color:white;
}
.condition_node  .node_subtitle .max_node_num .increase{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
   margin-left: 5px;
    background: rgb(171,171,171);
    color:white;
}
element.style{

}
.condition_node  .node_subtitle .max_node_num .node_num{
    text-align: center;
    color: white;
    display:inline-block;
    margin-left: 5px;
    margin-right: 2px;
    background: rgb(171,171,171);
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance: none!important;

}
input{
    margin:0;
    border-style:none;
}



.delete{
    float:right;
    color:#2e75b6;
    background:transparent;
    margin-top: 2px;
    display:inline-block;
    font-weight:600;
}
.condition_node .timeconstraints .textcon{
	        float: left;
    font-size: 18px;
    color: #3c3c3c;
    line-height: 38px;
}
.condition_node .timeconstraints .textinput{
	     float: left;
    font-size: 14px;
    color: #3c3c3c;
    line-height: 38px;
    height: 38px;
    margin: 0;
    width: 110px;
    padding: 0 15px;
}
.condition_node .timeconstraints .textinput:focus{
    outline: none
}

.conj.textcon{
        width: 50px;
    text-align: center;
    font-size: 30px;
    color: #b1b1b1;
}
.condition_node .spatial_constraints{
	    float: left;
    width: calc(65% - 10px);
    margin: 5px;
    height: calc(100% - 96px);
    position: absolute;
    bottom: 0;
    border: 1px dashed rgb(232, 232, 232);
}

.condition_node .semantic_constraints{
	    float: left;
    width: calc(36% - 13px);
    margin: 4px;
    height: calc(100% - 96px);
    border: 1px dashed rgb(232, 232, 232);
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
}

.condition_node .spatial_constraints div div::-webkit-scrollbar{
display: none;
}
.condition_node .spatial_constraints .POIrect{
	//position:absolute;
	width: 125px;
    line-height: 20px;
    /*text-align: center;*/
    border: 1px solid transparent;
    border-radius: 1px;
    transition-duration: 0.4s;
    /*overflow-x: scroll;*/
    font-size: 15px;
    height:25px;
}
.condition_node .spatial_constraints .POIrect .POIdiv{//长度表示相似度
	float:left;
    text-align: center;
    transition-duration: 0.4s;
    overflow:hidden;
    display:inline-block;
    height:14px;
    background:#2e75b6;
}
.condition_node .spatial_constraints .POIrect .POIname{
	right: 2px;
    position: absolute;
    width:50px;
    height:20px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    /*overflow-x: scroll;*/
    font-size: 10px;
    display:inline-block;
}
/*.condition_node .spatial_constraints .POIrect .POIname::-webkit-scrollbar{
    display:none;
}*/
/*.condition_node .spatial_constraints .POIrect::-webkit-scrollbar{
    display:none;
}*/
/*.condition_node .spatial_constraints .POIrect .POIname:hover{
    border: 1px solid #e26b35;
}*/

.condition_node .srealwordtitlepatial_constraints .worddiv{
    //padding: 2px;
    background: whitesmoke;
}
.condition_node .spatial_constraints .wordtitle{
       font-size: 13px;
    text-align: center;
    background: white;
    line-height: 23px;
    color: white;
    height: 22px;
}
.condition_node .spatial_constraints .wordtitle .hide_nei_words{
   background-size: 12px;
    width: 13px;
    height: 16px;
    margin: 4px 4px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
}
.condition_node .spatial_constraints .wordtitle .real_wordtitle{
       font-size: 13px;
    text-align: left;
    background: 0;
    margin-left: 8px;
    line-height: 23px;
    color: #2e75b6;
    float: left;
    width: calc(100% - 30px);
}

.condition_node .spatial_constraints .wordsubtitle{
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.condition_node .spatial_constraints .neiwordsdiv{
	    font-size: 14px;
    margin: 4px 0 0 18px;
    background: white;
    height:16px;
    //text-align: center;
}

.condition_node .spatial_constraints .neiwordsdiv .wordsval{
	    font-size: 12px;
    color: black;
    text-align: center;
    display: inline-block;
    width:20px;
    margin-right: 2px;
}

.condition_node .spatial_constraints .neiwordsdiv .neiwordsdiv_word{
	    font-size: 10px;
    color: white;
    text-align: center;
     background: #2e75b6;
    float:right;
    display: inline-block;
    height:14px;
}
.condition_node .spatial_constraints .locationlistdiv{
   width: 125px;
    height: calc(100% - 6px);
    overflow-y: auto;
    position: absolute;
    right: 37px;
    margin-top: 3px;
}
/*.condition_node .spatial_constraints .locationlistdiv .spatial_POIs{*/
/*width:calc(100% - 35px);*/

/*}*/
.condition_node .spatial_constraints .POIback{
    height: 100%;
    width: 35px;
    position: absolute;
    background: #e8e8e8;
    right: 0;
    margin-top: 3px;
}
.condition_node .spatial_constraints .POIlogo{
    line-height: 33px;
    top: calc(50% - 16px);
    width: 176px;
    right:-71px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    color: #1d1d1d;
    text-align: center;
    position: absolute;
    transform: rotate(90deg);
    font-size: 15px;
}
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 6px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 4px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: e-resize;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}



/*
    start for configuration Panel
*/
.high-level-desc{    font-size: 11px;
    text-align: center;
    padding: 0;
    height: 19px;
    line-height: 19px;
    width: 100%;
    margin: 3px 0;
}
.semantic_constraints .param-rect {
    height: 24px;
    width: calc(100% - 10px);
    /*border: 1px dashed black;*/
    margin: 0px 0px;
    padding: 0 3px;
}

.param-rect .param-name{
    display: inline-block;
    float: left;
    width: 120px;
        line-height: 24px;

}
.param-rect .param-num{
        display: inline-block;
    float: left;
    line-height: 24px;
}

.param-rect div{
    font-size: 11px;
    height: 100%;
    line-height: 39px;
}


.move-circle{
    fill: rgb(46,117,182);
    cursor:  w-resize;
}
.color-rect{
    position: absolute;
    fill:rgb(46,117,182);
    opacity: 0.8
}
.bottom-rect{
    position: absolute;
    fill: #e8e8e8;
}

.param-range{
    margin: 0;
    float: left;
    margin-right: 5px;
}



.semantic_constraints .param-ab-rect {
    height: 40px;
    width: calc(100% - 10px);
    margin: 0px 0px;
    padding: 0 5px;
}
.param-half-rect{
    height: 100%;
    width: 45%;
    display: inline-block;
    margin: 0 2%;
}
.param-ab-rect .param-name{
    display: inline-block;
    float: left;
    width: 13px;
}
.param-ab-rect .param-num{
    display: inline-block;
    float: right;
}

.param-ab-rect div{
    font-size: 11px;
    height: 100%;
    line-height: 39px;
}
