.right_content{
    float:right;
    width:120px;
    height:100%;
     background: whitesmoke;
}

.right_content .add_condition_node{

    height:calc(100% - 100px);
    width:50px;
    text-align: center;
   line-height:100px;
    background:rgb(171,171,171);
    float:right;
    display: block;
}
.right_content .legend{
width:120px;
    display: block;
    margin-top: 10px;
}
.right_content .legend .text{
    font-size: 10px;
    float:left;
    display:inline-block;
}
.right_content .legend .content{
    font-size: 10px;
    display:inline-block;
}
.right_content .legend .content .max{
    float:left;
    width:20px;
    height:10px;
    display:inline-block;
}
.right_content .legend .content .color_bar{
    width:10px;
    height:10px;
    display:inline-block;
}
.right_content .legend .content .min{
    float:right;
    width:20px;
    heifht:10px;
    display:inline-block;
}
.condition_node{
	    height: calc(100% - 20px);
    width: 600px;
    position: absolute;
    margin: 10px;
    background: #fbfbfb;
    border-radius: 2px;
    z-index:0;
}
.condition_node .title{
    padding: 7px;
    text-align: center;
    background: rgb(171,171,171);
    color: #fdfdfd;
    font-size: 18px;

}

.condition_node .title .constraints_order{
    position: absolute;
    padding: 0 10px;
}

.condition_node  .node_subtitle{
	padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    color: #3c3c3c;
}
.condition_node  .node_subtitle .real_node_subtitle{
	//padding: 5px 10px;
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    float:left;
}

.condition_node  .node_subtitle .max_node_num{
    text-align: center;
    //color: #3c3c3c;
    background: white;
    display:inline-block;
    float:right;
}
.condition_node  .node_subtitle .max_node_num .text{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    float:left;
    margin-right: 2px;
}
.condition_node  .node_subtitle .max_node_num .decrease{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
    margin-left: 5px;
    margin-right: 2px;
    background: rgb(171,171,171);
    color:white;
}
.condition_node  .node_subtitle .max_node_num .increase{
    text-align: center;
    color: #3c3c3c;
    display:inline-block;
   margin-left: 5px;
    background: rgb(171,171,171);
    color:white;
}
element.style{

}
.condition_node  .node_subtitle .max_node_num .node_num{
    text-align: center;
    color: white;
    display:inline-block;
    margin-left: 5px;
    margin-right: 2px;
    background: rgb(171,171,171);
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
    -webkit-appearance: none!important;

}
input{
    margin:0;
    border-style:none;
}



.delete{
    float:right;
    color:white;
    background:transparent;
    margin-top: 2px;
    display:inline-block;
}
.condition_node .timeconstraints .textcon{
	    float: left;
	    font-size: 19px;
	    color: #3c3c3c;
	    line-height: 25px;
}
.condition_node .timeconstraints .textinput{
	    float: left;
	    font-size: 16px;
	    padding: 2px 5px;
	    color: #3c3c3c;
	    line-height: 25px;
	    width: 125px;
	    height: 27px;
	    margin: 0;
	    padding: 0 15px;
	    border: 1px #b1b1b1 solid;
}
.condition_node .timeconstraints .textinput:focus{
    outline: none
}

.conj.textcon{
        width: 50px;
    text-align: center;
    font-size: 30px;
    color: #b1b1b1;
}
.condition_node .spatial_constraints{
	float: left;
    width: calc(70% - 10px);
    margin: 5px;
    height: calc(100% - 110px);
    position: absolute;
    bottom: 0;
}

.condition_node .semantic_constraints{
	float: left;
    width: calc(30% - 10px);
    margin: 4px;
    height: calc(100% - 110px);
    border-left: 1px dashed #b3b3b3;
        position: absolute;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}


.condition_node .spatial_constraints .POIrect{
	position:absolute;
	width: 100px;
    height: 20px;
    font-size: 17px;
    position: absolute;
    line-height: 20px;
    text-align:center;    
    border: 2px solid transparent;
    border-radius: 1px;
    transition-duration: 0.4s;
    overflow-x: scroll;
}
.condition_node .spatial_constraints .POIrect::-webkit-scrollbar{
    display:none;
}
.condition_node .spatial_constraints .POIrect:hover{
    border: 2px solid #e26b35;
}

.condition_node .srealwordtitlepatial_constraints .worddiv{
    //padding: 2px;
    background: whitesmoke;
}
.condition_node .spatial_constraints .wordtitle{
    font-size: 13px;
    text-align: center;
    background: white;
    line-height: 23px;
    color: white;
}
.condition_node .spatial_constraints .wordtitle .hide_nei_words{
    font-size: 13px;
    text-align: center;
    background: #b1b1b1;
    line-height: 23px;
    width:23px;
    color: white;
    display:inline-block;
    float:left;
}
.condition_node .spatial_constraints .wordtitle .real_wordtitle{
    font-size: 13px;
    text-align: center;
    background: #b1b1b1;
    line-height: 23px;
    color: white;
    display:inline-block;
    width: calc(100% - 30px);
}

.condition_node .spatial_constraints .wordsubtitle{
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.condition_node .spatial_constraints .neiwordsdiv{
	font-size: 14px;
    margin: 4px 0 0 18px;
    background: #b9b9b9;
    color: white;
    text-align: center;
}


.condition_node .spatial_constraints .locationlistdiv{
    width: 115px;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    right: 0;
}



.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 6px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 4px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: e-resize;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}



/*
    start for configuration Panel
*/
.high-level-desc{
font-size: 11px;
    text-align: center;
    padding: 0 10px;
}
.semantic_constraints .param-rect {
    height: 28px;
    width: clac(100% - 20px);
    /*border: 1px dashed black;*/
    margin: 0px 0px;
    padding: 0 10px;
}

.param-rect .param-name{
    display: inline-block;
    float: left;
    width: 53px;
}
.param-rect .param-num{
    display: inline-block;
    float: right;
}

.param-rect div{
    font-size: 11px;
    height: 100%;
    line-height: 39px;
}



.color-rect{
    position: absolute;
    fill:#b1b1b1;
}

.param-range{
    cursor: pointer;
    margin: 14px 0;
}



.semantic_constraints .param-ab-rect {
    height: 40px;
    width: clac(100%-10px);
    margin: 0px 0px;
    padding: 0 5px;
}
.param-half-rect{
    height: 100%;
    width: 45%;
    display: inline-block;
    margin: 0 2%;
}
.param-ab-rect .param-name{
    display: inline-block;
    float: left;
    width: 13px;
}
.param-ab-rect .param-num{
    display: inline-block;
    float: right;
}

.param-ab-rect div{
    font-size: 11px;
    height: 100%;
    line-height: 39px;
}