.condition_node{
	height: calc(100% - 20px);
    width: 600px;
    position: absolute;
    margin: 10px;
    background: white;
    border: 1px solid #ababab;
    border-radius: 2px;
}
.condition_node .title{
    padding: 7px;
    text-align: center;
    background: rgb(171,171,171);
    color: #fdfdfd;
    font-size: 18px;

}

.condition_node .title .constraints_order{
    position: absolute;
    padding: 0 10px;
}

.condition_node  .node_subtitle{
	padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    color: #3c3c3c;
}


.condition_node .timeconstraints .textcon{
	    float: left;
    font-size: 16px;
    padding: 2px 5px;
    color: #3c3c3c;    
    line-height: 25px;
}
.condition_node .timeconstraints .textinput{
	    float: left;
    font-size: 16px;
    padding: 2px 5px;
    color: #3c3c3c;    
    line-height: 25px;
    width: 125px;
    height: 22px;
    margin: 0 13px;
    padding-top:5px;
    border:0;
}


.condition_node .spatial_constraints{
	float: left;
    width: calc(70% - 10px);
    margin: 5px;
    height: calc(100% - 110px);
}

.condition_node .semantic_constraints{
	float: left;
    width: calc(30% - 10px);
    margin: 4px;
    height: calc(100% - 110px);
    border-left: 1px dashed #b3b3b3;
}






.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 6px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 4px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: e-resize;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}