
#topic-container{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*
	顶部时间轴 container
*/
.top-axis-container{
	margin: 10px auto;
	position: relative;
	height: 35px;
	background-color: #e6f7ff;
	opacity: 0.7;
	box-shadow: 0px 0px 0.01px 0.05px;
}

/*
	监听缩放事件
*/
.listener-rect{
	pointer-events: all;  /* 接收所有事件，不向下传递 */
	opacity: 0;
}
.listener-svg{
	position: absolute;
}

/*
	条数超出界高度时可上下移动
*/
.rect-group-container{
	    height: calc(100% - 35px);
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	overflow: overlay;
	margin-bottom: 10px;
}
.rect-container{
	display: inline-block;
	margin: 4px auto;
	position: relative;
}

/*
	展示具体编码效果 container
*/
.topic-rect-container{
	left: 0px;
	top:  0;
	position: absolute;
	display: inline-block;
	white-space: nowrap;   /*white-space这个属性防止父容器内容换行， */
	overflow : hidden      /*防止子元素溢出 ,前提是本身需要设置 width */;
	/*box-shadow: 0px 2px 6px 0px;*/
	background-color: #f5f5f5;
}
.topic-rect{
	/*该元素不能有 padding 或 border  长度为0情况下总长度需要为0*/
	display: inline-block;
	opacity: 1;
	position: absolute;   /* 左右移动  设置 left top (xy)*/
}
.topic-rect.gray{
	background-color: gray
}
.topic-rect .mid-box{
	display: flex;
	flex-direction: column;
	width: 50px;
	margin: auto;
}
.mid-box .precent-text{
    color: #fff;
    margin: auto;
    font-size: 10px;
}

.topic-rect .left-box{
	display: flex;
	flex-direction: column;
	width: 50px;
	float: left;
}
.topic-rect-container img{
	width: 20px;
    height: 20px;
    margin: 3px auto 0;
}
.left-box .precent-text{
	display: inline-block;
	margin: auto;
	color: #fff;
	font-size: 10px;
}
.topic-rect .right-box{
	width: calc(100% - 60px);
	float: right;
	display: flex;
	flex-direction: column;
}
.right-box .precent-text{
	    margin: 4px 0 0;
    color: #fff;
    font-size: 11px;
}


.axis--top .tick line{
	opacity: 0
}
.axis--x{
	opacity: 0
}

/*
	标线
*/
.tick-line{
	position: absolute;
	pointer-events: none;
}
.tick-line line{
	stroke:rgb(255,0,0);
	stroke-width:2;
}



/*
	图例
*/
#topic-legend{
	padding: 5px 0px;
}
.legend-item{
	display: inline-block;
}
.legend-intro{
	line-height: 30px;
	margin: 0 5px;
	font-size: 15px;
}
.legend-rect{
    width: 12px;
    height: 12px;
    display: inline-block;
    float: left;
    margin: 0px 4px 0px 10px;
}
.legend-name{
	    font-size: 11px;
	    line-height: 12px;
	    float: left;
	    margin: 0px;
}
