#honeycomb {
  display: inline-block;
  height: 100%;
  width: 49.9%;
  float: left;
  background-color: white;
  border: 1px solid #b3b3b3;
  margin-right: 0.1%;
}

.cluster_border_mouseover {
  fill: none;
  stroke-width: 2;
  stroke: #f28538;
}