rect.list {
	fill: #ffffd9;
  stroke: #E6E6E6;
  stroke-width: 2px;
}

.barClass {
	fill: #00441b;
}

.clusterLabel {
	font-size: 9pt
}

.hourLabel {
	font-size: 9pt
}

#semantictraj_list-container {
  width: 100%;
  height: 395px;
}